<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AddressBookTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D80509EC1EE2A0FE0069AC29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8050A051EE2A0FF0069AC29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8050A101EE2A0FF0069AC29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
